In [2]:
conn = pyodbc.connect(
    "Driver={ODBC Driver 18 for SQL Server};"
    "Server=DESKTOP-0BOH544;"
    "Database=PythonSQL;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)

print(conn)
# conexao = pyodbc.connect(conn)
print("ConexÃ£o Bem sucedida")

NameError: name 'pyodbc' is not defined

In [1]:
cursor = conn.cursor()

comando = """ 
INSERT INTO VENDA (ID_VENDA, DATA_VENDA, CLIENTE,PRODUTO, PRECO, QUANTIDADE )
VALUES
(2, '19/06/2022', 'Luiz', 'NOTEBOOK', 3500, 2)
(2, '9/11/2022', 'MARCOS', 'TABLET', 1500, 4)
"""

cursor.execute(comando)
cursor.commit()

NameError: name 'conn' is not defined

In [ ]:
query = "SELECT * FROM Venda"
result = cursor.execute(query).fetchall()

In [7]:
result

NameError: name 'result' is not defined