In [4]:
import pyodbc

In [13]:
conn = pyodbc.connect(
    "Driver={ODBC Driver 18 for SQL Server};"
    "Server=DESKTOP-0BOH544;"
    "Database=PythonSQL;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)

print(conn)
# conexao = pyodbc.connect(dados_conexao)
# print("Conex√£o Bem sucedida")


cursor = conn.cursor()

<pyodbc.Connection object at 0x000001C24C76FDF0>

In [15]:
query = "SELECT * FROM Venda"
result = cursor.execute(query).fetchall()

In [16]:
result
save

[(1, datetime.date(2022, 4, 22), 'ANA', 'CELULAR', Decimal('2000.00'), 1)]