In [25]:
import pyodbc
conn = pyodbc.connect(
    "Driver={ODBC Driver 18 for SQL Server};"
    "Server=DESKTOP-0BOH544;"
    "Database=Biblioteca;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)

print(conn)

<pyodbc.Connection object at 0x00000184B4891FE0>

In [33]:
cursor = conn.cursor()

result = cursor.execute('SELECT LIVRO_ID FROM Livros').fetchall()

In [47]:
import pandas as pd
result
test = pd.DataFrame(result)
test.columns=['teste']
print(test)

     teste
0      [1]
1      [2]
2      [3]
3      [4]
4      [5]
..     ...
495  [496]
496  [497]
497  [498]
498  [499]
499  [500]

[500 rows x 1 columns]